/* navbar*/
.nav-container{
    border: 3px outset var(--border-line);
    width: 200px;
    height: 400px;
    padding: 20px 20px;
    background-color: var(--card);
    backdrop-filter: blur(8px);
    border-radius: 8px;
    font-family: sans-serif;
    position: fixed;
    top:100px;
    left:7px;
    transform: translateX(-105%);
    transition: 0.3s ease-in-out;
    z-index: 9999;
}
.nav-container.active{
    transform: translateX(0);
}
.navbar ul{
 list-style-type: none;
}

.navbar li{
    position: relative;
    border-radius: 4px;
    width: 200px;
    transition: 0.3s ease;
    padding: 5px;;
}

.navbar li:hover{
    background: var(--hover-color);
    transform: translateX(-20%) translateY(-10%);
    
}

/*buttton nav*/
.menu-btn{
    position: absolute;
    background: transparent;
    bottom: 5px;
    left: 10px;
    right: 0;
    border-radius: 88px;
    height: 30px;
    width: 30px;
   
    color: var(--text-color);
    border: none;
    transition: 0.3s ease-in-out;
    margin-left: 10px;
}

.menu-btn:hover{
    scale: 1.2;
    background: var(--hover-color);
    color: white;
    backdrop-filter: blur(20px);
}

.header{
    position: -webkit-sticky; 
    position: sticky;
    top: 0; 
    z-index: 9999;
    background-color: var(--card);
    backdrop-filter: blur(8px);
    border: 3px outset var(--border-line);
    border-radius: 4px;
    height: 40px;
    width: 100%;
}

.header-nav{
    text-align: center;
}

